/* @import '@fontsource/inter/variable.css';
@import '@fontsource/playfair-display/variable.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-bone text-charcoal font-sans antialiased;
  scroll-behavior: smooth;
}



:root {
  color-scheme: light;
}

.section-title {
  @apply text-4xl leading-tight md:text-6xl;
  font-family: "Times New Roman", serif;
}
